@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harry P";
  src: url("/font/Harry_P.ttf") format("truetype");
}

:root {
  --body-bg: #11354f;
  --black: #000;
  --white: #fff;
  --yellow: #cac200;
}

html {
  font-family: "Harry P", sans-serif;
}

main {
  background-color: var(--body-bg);
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 16em;
  color: var(--black);
  position: absolute;
  top: 0%;
  left: 22%;
}
.main-img {
  position: absolute;
  top: 25%;
  left: 7.5%;
  width: 100%;
  height: 100%;
}
.btn {
  position: absolute;
  top: 65%;
  left: 27%;
  width: 170px;
  height: 65px;
  background-color: var(--white);
  color: var(--black);
  font-size: 3em;
  cursor: pointer;
  transition: 0.3s;
}

/* pages transitions */

.transition-img {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
.transition-text {
  position: absolute;
  top: 65%;
  left: 7%;
}

.border-video {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 20%;
  left: 12%;
}
.border-ask {
  position: absolute;
  top: 45%;
  left: 4%;
}
.global-ask {
  position: absolute;
  top: 60%;
}
.answer {
  position: absolute;
  top: 30%;
  left: 17%;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  box-shadow: 0px 0px 25px 35px #cac200;
}
.p-answer {
  position: absolute;
  top: 55%;
  left: 15%;
  font-size: 3em;
  color: var(--black);
  text-align: center;
  padding: 10px;
}
.answer-harry,
.answer-ron,
.answer-hermione {
  margin-top: 530px;
}

.global-answer {
  margin-top: 480px;
}

.answer-ron {
  margin-left: 30%;
}
